body {
	background-color: #333;
	color: white;
	text-align: center;
	font-family: sans-serif;
}

input[type="text"]{
	padding: 20px;
	border-radius: 4px;
	font-size: 20px;
}

.long {
	width: 500px;
}

.short {
	width: 200px;
}

.button {
	background-color: green;
	margin: 30px;
	padding: 20px;
	border-radius: 20px;
	display: inline-block;
	cursor: pointer;
	width: 150px;
}

.tweet{
	margin: 30px;
    padding: 20px;
    line-height: 2em;
    width: 300px;
    display: inline-block;
    border: 1px solid white;
}